@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vw;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

body {
  @apply relative overflow-x-hidden bg-black;
}

#root, body {
  height: 100%;
  width: 100%;
}

@layer components {
  .placeholder-card {
    @apply border-2 border-dashed border-[#3333334C] bg-top bg-repeat-x;
  }

  .title .link {
    @apply underline-offset-[7px];
  }

  .link {
    @apply underline underline-offset-[4px];
  }

  .black {
    @apply text-black;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    @apply overflow-hidden;
  }

  .lenis.lenis-smooth iframe {
    @apply pointer-events-none;
  }

  .element-transform {
    @apply will-change-transform !important;
  }

  @media (min-width: 360px) {
    .bg-burger::after {
      @apply bottom-0 right-[-40%];
    }
  }

  @media (min-width: 640px) {
    .bg-burger::after {
      @apply bottom-0 right-0;
    }
  }

  .scrolling-link {
    @apply relative inline-block overflow-hidden no-underline;
  }

  .initial-content,
  .hover-content {
    @apply block transition-all duration-500 ease-in-out;
  }

  .laptop-shadow::before {
    content: " ";
    @apply absolute bottom-[-15%] z-10 h-[35%] w-[120%] bg-black/90 blur-[65px];
  }

  .hover-content {
    @apply absolute left-0 top-full opacity-0;
  }

  .scrolling-link:hover .initial-content {
    @apply translate-y-[-100%] opacity-0;
  }

  .scrolling-link:hover .hover-content {
    @apply translate-y-[-100%] opacity-100;
  }
}

@layer utilities {
  @supports (height: 100dvh) {
    .h-100dvh {
      @apply h-[100dvh];
    }
  }

  @supports not (height: 100dvh) {
    .h-100dvh {
      @apply h-[95vh];
    }
  }

  .text-balance {
    text-wrap: balance;
  }
}
